@import "./colors.scss";
@import "./fonts.scss";

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  overflow: hidden;

  font-family: 'Ubuntu', Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
}
